<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="utf-8">
	<title></title>

	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="viewport" content="user-scalable=no, width=device-width" />
	
	<style type="text/css">
		body {
		   font-family: "Helvetica Neue", Helvetica;
		   font-weight: 300;
		}
		
		header {
			border-bottom: solid 2px #ddd;
			margin-bottom: 10px;
			color: #555;
		}
		
		#title {
			font-size: 24px;
			margin: 0px;
			margin-bottom: 10px;
		}
		
		#author {
			font-weight: normal;
			margin: 2px 0px;
		}
		
		#date {
			font-weight: normal;
			margin: 2px 0px;
		}
	</style>
</head>
<body>
	<header>
		<h2 id="title"><% title %></h2>
		<h5 id="author">Posted by <strong><% author %></strong></h5>
		<h5 id="date"><% createdOn %> | Share link: <a href="<% URL %>"><% URL %></a></h5>
	</header>
	
	<div id="body">
		<% body %>
	</div>
</body>
</html>